<mat-nav-list>
  <div class="profile-card">
    <div class="header"></div>
    <h2>Energy Operator</h2>
    <img />
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"
    >Posts</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Pods"
    >PodMap</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Nodes"
    >NodeMap</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Bots"
    >Bots</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Energy</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addNode"
    >Add Node</a
  >
  <mat-divider></mat-divider>
</mat-nav-list>
