<div>
  <app-widget-line></app-widget-line>
</div>

<br />

<mat-divider></mat-divider>

<br />

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div>chart</div>
  <div>chart</div>
  <div>table</div>
</div>

<mat-label class="custom-label">Select number of replicas</mat-label>
<mat-slider
  class="custom-slider"
  min="1"
  max="5"
  step="1"
  [(ngModel)]="selectedValue"
  tickInterval="2"
>
  <input matSliderThumb />
</mat-slider>

<mat-label class="custom-label2">Current replicas:</mat-label>

<mat-label class="custom-label2">Replica info:</mat-label>

<mat-divider></mat-divider>
